# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Formação\ISCTE\Aulas MEI\1 Ano\Prog Avançada\lib\Kotlin_toJSON\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
